<header>
  <img
  src="assets/img/general/portrait-dt.png"
  alt="portrait"
  width="150px"
  height="150-x"
  loading="eager"
  />
  <h1>Lucas Fonseca Merino</h1>
</header>

<aside>
  <div class="container">
    <p> Desenvolvedor web | Java | Kotlin | Spring</p>
    <p> Ribeirão Preto, São Paulo, Brasil</p>
    <p> --- </p>
  </div>

  <nav>

    <ul>
      <li>
        <a href="assets/pdf/cv-2024.pdf" target="_blank" class="btn btn-primary">Download CV</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/lucasfmerino/" target="_blank" class="btn btn-secondary">LinkedIn</a>
      </li>

    </ul>
  </nav>

  <section>
    <figure>
      <img
        src="assets/icons/general/whatsapp.svg"
        alt="iconde para contato Whatsapp"
        width="22px"
        height="24px"

      >
      <figcaption>
        <a
          href="https://api.whatsapp.com/send?phone=5516988455588&text=Ol%C3%A1%20Lucas,%20preciso%20de%20um%20job!"
          target="_blank"
          >
          <strong>Envie uma mensagem para: </strong>
          <p>WhtasApp (16) 98845-5588</p>
        </a>
      </figcaption>
    </figure>


    <figure>
      <img
        src="assets/icons/general/whatsapp.svg"
        alt="iconde para contato Whatsapp"
        width="22px"
        height="24px"

      >
      <figcaption>
        <a
          href="mailto:hivetron.dev@gmail.com"
          target="_blank"
          >
          <strong>Envie um e-mail para: </strong>
          <p>hivetron.dev&#64;gmail.com</p>
        </a>
      </figcaption>
    </figure>
  </section>
</aside>
