:root {
  --primary: #8256CE;
  --primary-010: #a07edb;

  --secondary: #00FF99;
  --secondary-010: #55d4a2;

  --background: #2D3040;

  --white: #fff;

  --black: #10101a;
  --black-010: #1e202b;

  --blue-010: #06628a;
  --blue-020: #06374e;

  --gray: #9b9ba0;

}
